.ol-overviewmap{
    bottom: 35px !important;
}

.show-burger {
    top: 65px;
    left: .5em;
    }
.ol-touch .show-burger {
    top: 80px;
}

.show-layer {
    top: 95px;
    left: .5em;
    }
.ol-touch .show-layer {
    top: 80px;
}

.show-metadata {
    top: 125px;
    left: .5em;
    }
.ol-touch .show-metadata {
    top: 80px;
}

.show-time {
    top: 155px;
    left: .5em;
    }
.ol-touch .show-time {
    top: 80px;
}

.show-basemap {
    top: 185px;
    left: .5em;
    }
.ol-touch .show-basemap {
    top: 80px;
}

.show-plot {
    top: 215px;
    left: .5em;
    }
.ol-touch .show-plot {
    top: 80px;
}

.show-slide {
    top: 245px;
    left: .5em;
    }
.ol-touch .show-slide {
    top: 80px;
}

.ol-scale-line{
    background: $primary-bg-color;
    opacity: 0.5;
}

// .show-social {
//     top: 275px;
//     left: .5em;

//     ul{
//         margin:0;
//         padding: 0;
//         list-style: none;
//     }

//     ul > li {
//         display: inline-block;
//     }
// }
// .ol-touch .show-social {
//     top: 80px;
// }

// .show-about {
//     top: 305px;
//     left: .5em;

//     ul{
//         margin:0;
//         padding: 0;
//         list-style: none;
//     }

//     ul > li {
//         display: inline-block;
//     }
// }

.ol-touch .show-about {
    top: 80px;
}

.project-logo {
    height: 35px;
    width: auto;
    position: absolute;
    bottom: 45px;
    right: .5em;
    img{
        height: 40px;
    }
}
.ol-touch .project-logo {
    top: 80px;
    height: 40px!important;
}


.show-geonode {
    top: 1em;
    right: .5em;
    a{
        color: $tertiary-bg-color;
        text-decoration: none;
    }
}
.ol-touch .show-geonode {
    top: 80px;
}