.ol-overviewmap{
    bottom: 35px !important;
}

.show-burger {
    top: 65px;
    left: .5em;
    }
.ol-touch .show-burger {
    top: 80px;
}

.show-layers {
    top: 95px;
    left: .5em;
    }
.ol-touch .show-layers {
    top: 80px;
}

.show-metadata {
    top: 125px;
    left: .5em;
    }
.ol-touch .show-metadata {
    top: 80px;
}

.show-time {
    top: 155px;
    left: .5em;
    }
.ol-touch .show-time {
    top: 80px;
}

.show-basemap {
    top: 185px;
    left: .5em;
    }
.ol-touch .show-basemap {
    top: 80px;
}

.show-plot {
    top: 215px;
    left: .5em;
    }
.ol-touch .show-plot {
    top: 80px;
}